@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Show Paper! <img src="~/img/paper1.png" /></h1>
<div class="row">
    <aside class="companyContact">
        <img src="~/img/company.jpg" alt="paper show Company" />
        <p><strong>Address: </strong><a href="https://goo.gl/maps/C4Wx8raAhZUpFYAr9">36 Elsmare Road, Scarbrough, M1B 2C6, Canada</a></p>
        <p><strong>Phone: </strong><a href="tel:5198675309">647-685 -8696</a></p>
        <p><strong>Email: </strong><a href="mailto:customerservice@paper.com">customerservice@paper.com</a></p>
    </aside>
    <article class="homeArticle">
        <h3>Paper View</h3>
        <p>
            Come visit our web and see how your favourite paper are made! We offer full company tours
            led by a guide. Guests will have the chance to see various paper, and even a chance to win
            our gift card, the magical <a href="https://localhost:44377/Zippers?PaperCategory=Magic&SearchString=">Paper</a>.
        </p>
    </article>
    <article class="information">
        <h4>Paper Prices</h4>
        <ul>
            <li><strong>Kids</strong><em>(0-11): Free...</em></li>
            <li><strong>Teens</strong><em>(12-18): $5...</em></li>
            <li><strong>Adults</strong><em>(19-64): $7...</em></li>
            <li><strong>Seniors/Military</strong><em>(65+): $2...</em></li>
        </ul>
        <div class="container3">
            <h4>Information</h4>
            <p>Opened in 2002, <strong>packed It!</strong> has set and maintained the standard we hold
            zippers to as a society. In this family tour, you and your family will learn why the majority
            of the world trusts us with their papers. There is a hands on activity where you and your 
            family get the chance to make your dream paper, for <strong>FREE!</strong></p>
        </div>
    </article>
</div>

