@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="displaystyle">
        <div class="card">
            <img src="~/img/photo1.jpg" alt="paper" style="width:100%">
            <div class="container2">
                <h2>Gift paper</h2>
                <p class="title">Paper Department</p>
                <p>
                    Moss is a wizard when it comes to computers. Whenever
                    someone at <strong>Show paper!</strong> is having
                    trouble with their computer, Paper is there to save the environment!
                    Without computer, this place would have no working computers.
                </p>
                <a href="mailto:master@paper.com">master@paper.com</a> @*Working Email Link to the employees email address*@
            </div>
        </div>
    </div>
    <div class="displaystyle">
        <div class="card">
            <img src="~/img/paper2.jpg" alt="tissue" style="width:100%">
            <div class="container2">
                <h2>Tissue</h2>
                <p class="title">Data Analyst</p>
                <p>
                    Zenny is our lead data analyst. Real numbers . Zenny spots customer trends
                    and helps <strong>Show It!</strong> adapt to the market. Single-handedly,
                    Zenny is helping <strong>Show It!</strong> stay relevent in the eyes
                    of the zipper market.
                </p>
                <a href="mailto:jen@paper.com">roy@zipit.com</a>
            </div>
        </div>
    </div>
    <div class="displaystyle">
        <div class="card">
            <img src="~/img/paper2.jpg" alt="Jen" style="width:100%">
            <div class="container2">
                <h2>Hande yildiz</h2>
                <p class="title">Customer Experience Lead</p>
                <p>
                    hande is our wonderful Customer Experience Lead. If you've called customer support,
                    chances are you've already met Jen! From handling customer issues, to finalizing sales of
                    her own, Jen truly does it all!
                </p>
                <a href="mailto:hande@paper.com">hande@paper.com</a>
            </div>
        </div>
    </div>
    <article class="mission">
        <h4>Our Mission</h4>
        <p>
            We at <strong>Paper Show!</strong>, are committed to becoming the top wholesale Paper distributer in the world!
            Whether you're looking for a standard zipper for some jeans you are producing, or you need to a little magic to your
            Paper for events, we have got a paper for you!
        </p>
    </article>
</div>





